h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: 1083;
    height: 77;
    top: 46px;
    left: 179px;
    opacity: 1;
}

#pictureBox {
    width: 350px;
    height: 350px;
    transform: translate(200px, 20px);
    border-width: 4px;
    border-color: black;
    border-style: solid;
}

#name {
    position: absolute;
    width: 365px;
    height: 67px;
    top: 590px;
    left: 50%;
    transform: translate(-140%, -140%);
    border-radius: 10px;
    border: 1px solid black;
    opacity: 1;
}

#leftClick {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('arrow.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

#rightClick {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('arrow.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transform: rotate(180deg);
}

.boxContainer {
    width: 105px;
    height: 40px;
    top: 200px;
    opacity: 1;
    position: relative;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 10;
}

.boxContainer.left {
    left: 10px;
    transform: translate(180%, 20%);
    background-color: rgb(190, 190, 190);
}

.boxContainer.right {
    left: 60px;
    transform: translate(370%, -80%);
    background-color: rgb(190, 190, 190);
}

#types {
    font-family: 'Inter';
    font-weight: bold;
    width: 150px;
    height: 70px;
    opacity: 1;
    border-radius: 10px;
    border: 1px none black;
    position: absolute;
    top: 78%;
    left: 15%;
}

#infoInterface {
    width: 486px;
    height: 600px;
    top: 90px;
    left: 838px;
    position: absolute;
    opacity: 1;
    border-radius: 10px;
    border: 1px dotted black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

#infobuttons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 90px;
   
}

#details {
    background-color: rgb(190, 190, 190);
    width: 486px;
    height: 470px;
    top: 223px;
    left: 838px;
    opacity: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infoMoves {
    font-family: 'Inter';
    width: 80px;
    height: 40px;
    font-size: 20px;
}