#mainLayout {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

#leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    transform: translateY(-70px);
}

#pictureBox {
    border: 4px black solid;
    width: 350px;
    height: 330px;
    transform: translateY(10px);
}

#nameBox {
    width: 360px;
    height: 67px;
    border-radius: 10px;
    border: 1px black solid;
    background-color: #E8E8E8;
    transform: translateY(-20px);
}

#typeBox {
    font-family: 'Inter';
    font-weight: bold;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    border: 1px none black;
    transform: translateY(-40px);
}

.boxContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    transform: translateY(-60px);
}

#leftClick {
    height: 55px;
    width: 110px;
    background-image: url('arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #E8E8E8;
    border: none;
    border-radius: 10px
}

#rightClick {
    height: 55px;
    width: 110px;
    background-image: url('arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #E8E8E8;
    border: none;
    transform: rotate(180deg);
    border-radius: 10px
}


#rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-1000px);

}

#infoInterface {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    transform: translateY(-90px);
    gap: 20px;
}

#title{
    font-size: 2em;
    text-align: center;
    transform: translateY(40px);
}

#details{
    background-color: #E8E8E8;
    width: 400px;
    height: 500px;
}

#infobuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.infoMoves {
    font-size: 2em;
    width: auto;
    padding: 3rem;
}
/*
#pictureBox {
    width: 350px;
    height: 350px;
    transform: translate(200px, 20px);
    border-width: 4px;
    border-color: black;
    border-style: solid;
}

#name {
    position: absolute;
    width: 365px;
    height: 67px;
    top: 79%;
    left: 50%;
    transform: translate(-515px, -100px);
    border-radius: 10px;
    border: 1px solid black;
    opacity: 1;
}

#leftClick {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('arrow.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

#rightClick {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('arrow.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transform: rotate(180deg);
}

.boxContainer {
    width: 105px;
    height: 40px;
    top: 200px;
    opacity: 1;
    position: relative;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 10;
}

.boxContainer.left {
    left: 10px;
    transform: translate(180%, 20%);
    background-color: rgb(190, 190, 190);
}

.boxContainer.right {
    left: 60px;
    transform: translate(370%, -80%);
    background-color: rgb(190, 190, 190);
}

#types {
    font-family: 'Inter';
    font-weight: bold;
    width: 150px;
    height: 70px;
    opacity: 1;
    border-radius: 10px;
    border: 1px none black;
    position: absolute;
    top: 78%;
    left: 15%;
}

#infoInterface {
    width: 486px;
    height: 600px;
    top: 90px;
    left: 838px;
    position: absolute;
    opacity: 1;
    border-radius: 10px;
    border: 1px dotted black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

#infobuttons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 90px;
   
}

#details {
    background-color: rgb(190, 190, 190);
    width: 486px;
    height: 470px;
    top: 223px;
    left: 838px;
    opacity: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infoMoves {
    font-family: 'Inter';
    width: 80px;
    height: 40px;
    font-size: 20px;
}

.main-container {
  display: flex;
  justify-content: space-around; 
  align-items: center;          
  flex-wrap: wrap;             
  gap: 2rem;                    
  padding: 5%;
}

*/